html {
    display: block;
    width: 400px;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 75%;
    margin: 0;
    line-height: 1.34;
    display: block;
}

div {
    display: block;
}

.panel {
    color: rgb(78, 86, 101);
    font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    margin: 72px 0px 0px;
    padding: 0px;
    min-width: 400px;
}

.panelHeader {
    background-color: rgb(246, 247, 248);
    border-bottom: 2px solid rgb(217, 217, 217);
    font-size: 16px;
    height: 70px;
    line-height: 45px;
    padding-left: 12px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.panelHeaderLogo {
    float: left;
    padding-top: 12px;
    width: 45px;
}

.panelHeaderContent {
    float: left;
    line-height: normal;
    margin-left: 10px;
    padding-top: 15px;
}

.pixelBasis {
    height: 40px;
    display: flex;
}

.hoverLink {
    color: rgb(93, 125, 174);
    font-size: 12px;
    text-decoration: none;
}

.popoutButton {
    position: absolute;
    padding-top: 12px;
    right: 30px;
    width: 20px;
    height: 20px;
}

.content {
    font-size: 12px;
    line-height: 20px;
    padding: 8px 16px;
}

.pixelPanel {
    font-size: 12px;
    padding: 12px;
    position: relative;
}

.divider {
    border-top: 1px solid rgb(217, 217, 217);
    content: "";
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.pixelMainContainer {
    padding-left: 4px;
    flex: 1 1 0%;
}

.divFormate {
    clear: both;
    content: "";
    display: table;
}

.pixelLogo {
    padding-top: 5px;
    width: 30px;
}

.pixelPanelOverviewTitle {
    font-size: 14px;
    margin: 0px 0px 4px;
}

.pixelPanelOverviewLinks {
    float: right;
    margin-right: 8px;
    text-align: right;
}

.troubleShootingLink {
    color: rgb(93, 125, 174);
    display: block;
    font-size: 12px;
    margin: 3px 0px;
    text-decoration: none;
}

.setupEventsContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.setupEventsLink {
    color: rgb(93, 125, 174);
    display: block;
    font-size: 12px;
    margin: 3px 0px;
    text-decoration: none;
}

.new {
    background: rgb(24, 119, 242);
    border-radius: 24px;
    color: rgb(255, 255, 255);
    font-family: BlinkMacSystemFont, -apple-system, Roboto, Arial, sans-serif;
    font-size: 8px;
    line-height: 14px;
    margin-left: 4px;
    text-align: center;
    width: 24px;
}

.viewAnalyticsLink {
    color: rgb(93, 125, 174);
    display: block;
    font-size: 12px;
    margin: 3px 0px;
    text-decoration: none;
}

.pixelIdDisplay {
    color: rgb(137, 143, 156);
    margin: 0px;
}

.pixelEventDisplay {
    margin: 12px 0px;
    vertical-align: middle;
}

.pixelEventIconMoreInfo {
    height: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.toggleContainer {
    margin: 0px 0px 0px 10px;
}

.eventInfoTitle {
    color: rgb(137, 143, 156);
    margin: 12px 0px 6px;
    text-transform: uppercase;
}

.show {
    color: rgb(93, 125, 174);
    margin-left: 4px;
}

.blockString {
    display: block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 6px;
    margin-left: 14px;
    margin-top: 6px;
    word-break: break-all;
    white-space: pre-wrap;
}

.autoDetect {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-left: 5px;
}
